@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-medium font-manrope bg-main-bg;
}

input {
  @apply cursor-pointer w-[100%] leading-[1.29] border-my-black-15 h-[42px] rounded-[30px] pl-[12px] text-[14px] border-[1px] outline-none md:h-[52px] md:text-[16px] md:pl-[16px] md:leading-[1.25] lg:w-[424px];
}

input:hover,
input:focus {
  @apply border-my-yellow;
}
.input-error {
  @apply text-[9px] text-my-red absolute top-[40px] left-[12px] md:top-[52px] md:left-[18px];
}

button {
  @apply cursor-pointer transition-colors;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply mt-0;
}

ul {
  @apply p-0 m-0  list-none;
}

.header-link {
  @apply relative cursor-pointer transition-colors flex items-center justify-center w-[119px] h-[48px] border-[1px]  rounded-[30px] text-[14px] leading-[1.29] tracking-[-0.03em] md:h-[50px] md:text-[16px] md:leading-[1.25];
}

/* .header-link-desktop {
  @apply flex items-center justify-center w-[119px] h-[48px] border-[1px]   rounded-[30px]  md:h-[50px] md:text-[16px] md:leading-[1.25] lg:text-my-white;
} */

.span-title {
  @apply group-hover:text-my-yellow-dark;
}

.btn_pagination {
  @apply flex w-[40px] h-[40px] rounded-[50%] border-[1px] items-center justify-center md:w-[44px] md:h-[44px];
  &:hover:not(:disabled) {
    @apply text-my-white bg-my-yellow border-my-yellow;
  }
}
.btn_pagination_number {
  @apply flex w-[40px] h-[40px] rounded-[50%] border-[1px] items-center justify-center  md:w-[44px] md:h-[44px];

  &:hover:not(:disabled) {
    @apply text-my-white bg-my-yellow border-my-yellow;
  }
  &:disabled {
    @apply opacity-50;
  }
  &.active {
    @apply text-my-white bg-my-yellow border-my-yellow;
  }
}
.btn_pagination_double {
  @apply flex w-[40px] h-[40px] rounded-[50%] border-[1px] items-center justify-center relative md:w-[44px] md:h-[44px];

  &:hover:not(:disabled) {
    @apply text-my-white bg-my-yellow border-my-yellow;
  }
}
.icon_pagination {
  @apply fill-my-black;
}

.btn_pagination:hover .icon_pagination,
.btn_pagination_double:hover .icon_pagination {
  @apply fill-my-white;
}
.btn_pagination:disabled .icon_pagination,
.btn_pagination_double:disabled .icon_pagination {
  @apply opacity-50 fill-my-black;
}

/**
  |============================
  | notices page
  |============================
*/
.notices_item_element {
  @apply flex flex-col gap-[2px] capitalize;
}
.notices_item_element_span {
  @apply text-my-black-50;
}

.item_filter {
  @apply bg-my-white text-my-black text-[14px] leading-[1.29] tracking-[-0.03em] rounded-[30px] h-[42px] p-[12px] md:h-[48px] md:text-[16px] md:leading-[1.25] md:px-[14px] hover:bg-my-yellow hover:text-my-white;
}
.item_filter_active {
  @apply flex gap-[10px] items-center  bg-my-yellow text-my-white text-[14px] leading-[1.29] tracking-[-0.03em] rounded-[30px] h-[42px] p-[12px] md:h-[48px] md:text-[16px] md:leading-[1.25] md:px-[14px] hover:bg-my-yellow-dark;
}

.dropwown {
  @apply capitalize bg-my-white text-my-black text-[14px] leading-[1.29] tracking-[-0.03em] rounded-[30px] h-[42px] w-[143px] flex justify-between items-center px-[12px] md:h-[48px] md:text-[16px] md:leading-[1.25] md:w-[170px] md:px-[14px];
}

.dropdown_list_item {
  @apply capitalize cursor-pointer;
}

.active_item {
  @apply text-my-yellow;
}

.dropdown_type {
  @apply capitalize bg-my-white text-my-black text-[14px] leading-[1.29] tracking-[-0.03em] rounded-[30px] h-[42px] w-[100%] flex justify-between items-center px-[12px]  md:h-[48px] md:text-[16px] md:leading-[1.25] md:w-[190px] md:px-[14px];
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(38, 38, 38, 0.08);
  border-radius: 13px;
}

::-webkit-scrollbar-track {
  margin-block: 10px;
}
/**
  |============================
  | styles select cities
  |============================
*/

.css-w9q2zk-Input2 {
  height: 42px !important;
  font-size: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
}
@media screen and (min-width: 768px) {
  .css-w9q2zk-Input2 {
    height: 48px !important;
    font-size: 16px !important;
  }
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.css-13cymwt-control {
  background-color: white !important;
  border-radius: 30px !important;
  border: none !important;
  height: 42px !important;
}
.css-t3ipsp-control {
  background-color: white !important;
  border-radius: 30px !important;
  border-color: #f6b83d !important;
  box-shadow: none !important
  ;
}
.css-t3ipsp-control:hover {
  border-color: #f6b83d !important;
}

.css-art2ul-ValueContainer2 {
  height: 42px !important;
  padding: 0 0 0 12px !important;
}

@media screen and (min-width: 768px) {
  .css-art2ul-ValueContainer2 {
    height: 48px !important;
    padding: 0 0 0 14px !important;
  }
}
.css-1jqq78o-placeholder {
  font-size: 14px !important;
  color: #262626 !important;
}

@media screen and (min-width: 768px) {
  .css-1jqq78o-placeholder {
    font-size: 16px !important;
  }
}

.css-4xgw5l-IndicatorsContainer2 {
  display: flex !important;
  gap: 2px !important;
}
.css-1wy0on6 {
  margin-right: 12px !important;
}
@media screen and (min-width: 768px) {
  .css-13cymwt-control {
    width: 190px !important;
    height: 48px !important;
  }
}
.css-19bb58m {
  margin: 0 !important;
  padding: 0 !important;
  height: 42px !important;
}
@media screen and (min-width: 768px) {
  .css-19bb58m {
    width: 190px !important;
    height: 48px !important;
  }
}

.css-hlgwow {
  padding: 0 0 0 12px !important;
}
/**
  |============================
  | timepicker styles
  |============================
*/

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f6b83d !important;
}

.react-datepicker__header {
  background-color: #fbe7c1 !important;
  border-bottom: 1px solid #f6b83d !important;
}

.react-datepicker {
  border: none !important;
  font-family: inherit !important;
}
.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #f6b83d !important;
}

.react-datepicker-popper {
  left: 47px !important;
}
